    /* Reset */
    body,
    html {
        background: #000;
        color: #fff;
        font-family: 'Intro', sans-serif;
        font-size: 16px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul {
        margin: 0 0 1rem 0;
        padding: 0;
    }

    ol,
    ul {
        list-style-type: none;
    }

    img {
        height: auto;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    h6 {
        font-size: 0.6rem;
    }

    a {
        text-decoration: none
    }

    .video-bg {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        opacity: 0.5;
        z-index: 0;
    }

    .section {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100vh;
    }


    .title {
        text-align: center;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 25%;
        transform: scale(1);
        transition: all 1s cubic-bezier(.215, .61, .355, 1);
        opacity: 0;

    }

    .section.in-page .title {
        transform: scale(1.2);
        opacity: 1;
    }

    .panel {
        height: auto;
        width: 100%;
        background: #f7f7f7;
        position: relative;
        z-index: 2;
        color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bg-gray {
        background-color: #eee;
    }

    .panel.text-content-right,
    .panel.text-content-left {
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
    }

    .panel.text-content-left {
        padding: 0% 15% 10% 5%;
        align-items: flex-start;
    }

    .panel.text-content-right {
        padding: 0% 5% 10% 15%;
        align-items: flex-end;
    }

    .panel[class*="text-content-"] div {
        width: 80%;
    }

    [class*="container-"] {
        width: 100%;
        max-width: 40%;
        position: absolute;
        background-color: rgba(213, 213, 213, 0.6);
        padding: 4%;
        border-radius: 50%;
        bottom: 5vh;
        display: flex;
        justify-content: center;
    }

    .container-right {
        left: 40vw;
    }

    .container-left {
        right: 40vw;
    }

    [class*="container-"] div {
        max-width: 85%;
    }


    .intro {
        font-size: 20px;
        font-weight: bold;
    }

    .title-big {
        font-size: 5rem;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(10vh);
        transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }

    .fade-in.in-page {
        opacity: 1;
        transform: translateY(0vh);
    }

    .img-big-left {
        width: 70vw;
        position: relative;
        left: -30vw;
        display: block;
    }

    [class*="img-big-"] {
        max-height: 450px;
        max-width: 900px;
        width: 100%;
        position: relative;
        top: -5vh;
        display: block;
        border-radius: 50%;
        margin: 100px 0;
        object-fit: cover;
    }

    .img-big-right {
        left: -10vw;
    }

    .img-big-left {
        left: 10vw;
    }


    .title-med {
        font-size: 3.5rem;
    }

    .subtitle {
        font-size: 1.5rem;
        color: #666;
        max-width: 500px;
        padding-bottom: 10%;
    }

    .orange-text {
        font-size: 2rem;
        color: #f56900;
        text-align: center;
        font-weight: bold;
    }


    .header {
        background-color: #1d1d1f;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
    }

    .header__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .header__home {
        padding: 4px 15px;
        height: 50px;
        color: #d2d2d2;
        display: grid;
        place-items: center;
    }

    .header__menu {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .header__menu li {
        display: inline-block;
    }

    .header__menu li a {
        color: #fff;
        opacity: 0.8;
        display: block;
        padding: 16px;
        font-size: 15px;
    }

    .header__icons {
        width: 50px;
    }


    @media (max-width: 768px) {
        .header__menu {
            position: absolute;
            top: 50px;
            background-color: #1d1d1f;
            width: 100%;
            height: 100vh;
            height: 0vh;
            overflow: hidden;
            transition: all 1s cubic-bezier(.215, .61, .355, 1);
        }

        .header__menu li {
            width: 100%;
            border-bottom: 1px solid #444
        }

        .menu-open .header__menu {
            height: 100vh;
            padding: 3%;
        }

        .icon-hamburger {
            height: 50px;
            width: 50px;
            margin-left: 20px;
            padding-top: 5px;
        }

        .icon-hamburger span {
            height: 1px;
            width: 30px;
            background: #fff;
            position: relative;
            display: block;
            margin-top: 12px;
            transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
        }

        .menu-open .icon-hamburger span:nth-child(1) {
            transform: rotate(45deg) translateY(9px);
        }

        .menu-open .icon-hamburger span:nth-child(2) {
            transform: rotate(-45deg) translateY(-9px);
        }

        .header__icons {
            display: flex;
            width: 80px;
        }

    }